@import "tailwindcss";
#root {
  width: 100%;
  min-height: 100vh;
}
/* Hide default password reveal icon in Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide default eye icon in Edge (Chromium) */
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}
/* Keep Leaflet below drawers and modals */
.leaflet-container,
.leaflet-pane,
.leaflet-control {
  z-index: 0 !important;
}

/* .leaflet-control-attribution {
  display: none !important;
} */